<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>J6s6EYZe9dUXReidJnC1XkR0nWpcY8t5</string>
    <key>Domain</key>
    <string>dev-fx44br527h40abis.us.auth0.com</string>
</dict>
</plist>
